In [1]:
import pandas as pd

In [18]:
df1 = pd.read_csv('data/국토교통부_교량_20220627_정제.csv')
df2 = pd.read_csv('data/2022도로교량현황조서_정제.csv')

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5993 entries, 0 to 5992
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   교량명        5993 non-null   object
 1   시설물종별등급구분  5993 non-null   object
 2   시도명        5993 non-null   object
 3   시군구명       5993 non-null   object
 4   교량시작점위도    5993 non-null   float64
 5   교량시작점경도    5993 non-null   float64
 6   교량종료점위도    5993 non-null   float64
 7   교량종료점경도    5993 non-null   float64
 8   교량연장       5993 non-null   float64
 9   교량폭        5993 non-null   float64
 10  차로수        5993 non-null   int64
 11  상부구조형식     5993 non-null   object
 12  최종안전점검결과   5993 non-null   object
 13  설계활하중      5993 non-null   object
 14  준공후경과년수    5993 non-null   int64
dtypes: float64(6), int64(2), object(7)
memory usage: 702.4+ KB

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7373 entries, 0 to 7372
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시설명      7373 non-null   object
 1   시도       7373 non-null   object
 2   시군구      7373 non-null   object
 3   총길이      7373 non-null   float64
 4   총폭       7373 non-null   float64
 5   경간수      7373 non-null   float64
 6   최대경간장    7373 non-null   float64
 7   상부구조     7373 non-null   object
 8   설계하중     7373 non-null   object
 9   교통량      5333 non-null   float64
 10  준공년도     7373 non-null   int64
 11  준공후경과년수  7373 non-null   int64
dtypes: float64(5), int64(2), object(5)
memory usage: 691.3+ KB

In [21]:
# 중복데이터 확인

duplicates = df1.duplicated(keep=False)
df1[duplicates]

Empty DataFrame
Columns: [교량명, 시설물종별등급구분, 시도명, 시군구명, 교량시작점위도, 교량시작점경도, 교량종료점위도, 교량종료점경도, 교량연장, 교량폭, 차로수, 상부구조형식, 최종안전점검결과, 설계활하중, 준공후경과년수]
Index: []

In [22]:
# 중복데이터 확인

duplicates = df2.duplicated(keep=False)
df2[duplicates]

,시설명,시도,시군구,총길이,총폭,경간수,최대경간장,상부구조,설계하중,교통량,준공년도,준공후경과년수
16,갈매3육교,경기도,구리시,45.6,12.5,1.0,45.6,PSCI거더교,DB-24,37338.0,2017,6
17,갈매3육교,경기도,구리시,45.6,12.5,1.0,45.6,PSCI거더교,DB-24,37338.0,2017,6
20,갈매교(포천),경기도,구리시,30.9,63.0,1.0,30.9,라멘교,DB-24,37338.0,2017,6
21,갈매교(포천),경기도,구리시,30.9,63.0,1.0,30.9,라멘교,DB-24,37338.0,2017,6
29,감암1교(구리),경기도,포천시,90.4,24.6,3.0,30.2,PSCI거더교,DB-24,18494.0,2017,6
...,...,...,...,...,...,...,...,...,...,...,...,...
5286,갈현교(BOX),경기도,성남시 중원구,14.3,38.0,1.0,14.3,라멘교,DB-24,NaN,1993,30
5863,백현교,경기도,성남시 분당구,130.0,41.0,4.0,35.0,PSC중공슬래브교,DB-24,NaN,1993,30
5865,백현교,경기도,성남시 분당구,130.0,41.0,4.0,35.0,PSC중공슬래브교,DB-24,NaN,1993,30
6840,탄천IC교,경기도,성남시 수정구,50.0,8.0,1.0,50.0,프리플렉스거더교,DB-24,NaN,1998,25
6841,탄천IC교,경기도,성남시 수정구,50.0,8.0,1.0,50.0,프리플렉스거더교,DB-24,NaN,1998,25

In [23]:
# 중복데이터 제거

df2 = df2.drop_duplicates(keep='first')

In [24]:
# 필요없는 컬럼 제거

df1 = df1.drop(['교량시작점위도', '교량시작점경도', '교량종료점위도', '교량종료점경도'], axis=1)
df2 = df2.drop(['준공년도'], axis=1)

In [25]:
# 설계활하중이 미상인 데이터 제거

df1 = df1.drop(df1[df1['설계활하중'] == '미상'].index)

In [26]:
# subset에 지정한 컬럼 값이 중복인 데이터 확인

duplicates1 = df1[df1.duplicated(subset=['교량명', '시도명', '시군구명', '교량연장', '교량폭', '상부구조형식', '설계활하중', '준공후경과년수'], keep=False)]
len(duplicates1)

20

In [27]:
# subset에 지정한 컬럼 값이 중복인 데이터 모두 제거

df1 = df1.drop_duplicates(subset=['교량명', '시도명', '시군구명', '교량연장', '교량폭', '상부구조형식', '설계활하중', '준공후경과년수'], keep=False)

In [28]:
# subset에 지정한 컬럼 값이 중복인 데이터 확인

duplicates2 = df2[df2.duplicated(subset=['시설명', '시도', '시군구', '총길이', '총폭', '상부구조', '설계하중', '준공후경과년수'], keep=False)]
len(duplicates2)

82

In [29]:
# subset에 지정한 컬럼 값이 중복인 데이터 모두 제거

df2 = df2.drop_duplicates(subset=['시설명', '시도', '시군구', '총길이', '총폭', '상부구조', '설계하중', '준공후경과년수'], keep=False)

In [30]:
df2 = df2.rename(columns={'시설명':'교량명',
                          '시도':'시도명',
                          '시군구':'시군구명',
                          '총길이':'교량연장',
                          '총폭':'교량폭',
                          '상부구조':'상부구조형식',
                          '설계하중':'설계활하중'})

In [31]:
# df1과 df2를 df1을 기준으로 조인

df3 = pd.merge(df1, df2, on = ['교량명', '시도명', '시군구명', '교량연장', '교량폭', '상부구조형식', '설계활하중', '준공후경과년수'], how='left')

In [32]:
df3 = df3.dropna(subset=['경간수', '최대경간장'])

In [33]:
df3 = df3.reset_index(drop=True)

In [34]:
df3

,교량명,시설물종별등급구분,시도명,시군구명,교량연장,교량폭,차로수,상부구조형식,최종안전점검결과,설계활하중,준공후경과년수,경간수,최대경간장,교통량
0,진위교,2,경기도,평택시,125.0,21.0,4,PSCI거더교,B,DB-24,37,5.0,25.0,21443.0
1,풍계교,3,경기도,이천시,55.0,20.0,2,RC슬래브교,B,DB-24,27,4.0,15.0,5654.0
2,태평교,3,경기도,여주시,43.8,19.5,4,PSCI거더교,B,DB-24,32,2.0,21.9,8750.0
3,장평교,2,경기도,이천시,105.0,19.5,4,RC슬래브교,B,DB-24,30,7.0,15.0,14150.0
4,덕평교,3,경기도,여주시,32.0,10.0,2,RC슬래브교,B,DB-24,27,2.0,16.0,3739.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5675,무송교(상),기타,경기도,화성시,10.0,16.4,2,라멘교,A,DB-24,2,1.0,10.0,12499.0
5676,무송교(하),기타,경기도,화성시,10.0,12.5,2,라멘교,A,DB-24,2,1.0,10.0,12499.0
5677,팔탄 JCT 1교,기타,경기도,화성시,18.5,30.0,2,라멘교,A,DB-24,2,1.0,18.5,12805.0
5678,팔탄 JCT 2교,기타,경기도,화성시,20.0,34.0,2,라멘교,A,DB-24,2,1.0,20.0,12805.0
5679,자안교,기타,경기도,화성시,15.0,35.2,7,라멘교,A,DB-24,2,1.0,15.0,12805.0

In [35]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5680 entries, 0 to 5679
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   교량명        5680 non-null   object
 1   시설물종별등급구분  5680 non-null   object
 2   시도명        5680 non-null   object
 3   시군구명       5680 non-null   object
 4   교량연장       5680 non-null   float64
 5   교량폭        5680 non-null   float64
 6   차로수        5680 non-null   int64
 7   상부구조형식     5680 non-null   object
 8   최종안전점검결과   5680 non-null   object
 9   설계활하중      5680 non-null   object
 10  준공후경과년수    5680 non-null   int64
 11  경간수        5680 non-null   float64
 12  최대경간장      5680 non-null   float64
 13  교통량        4446 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 621.4+ KB

In [36]:
df3.to_csv('data/교량_통합_정제.csv', encoding='utf-8-sig', index=False)